/* Common CSS Starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
/* Common CSS Ends */

/* Topbar Css Starts */
.topbar{
    background-color: #f9f8f3;
    overflow: hidden;
    padding: 10px 0;
}
.topbar ul{
    display: flex;
    float: right;
}
.topbar ul li a{
    color: #bea44d;
    margin: 0 10px;
}
/* Topbar Css Ends */
/* Header Css Starts */
header{
    display: flex;
    padding: 30px;
}
header .logo{
    width: 30%;
}
header .menu{
    width: 70%;
}
header .menu ul{
    float:right;
    display: flex;
}
header .menu ul li a{
    padding: 0 20px;
    font-size: 25px;
    color: #252323;
    font-family: 'Lato', sans-serif;
}
header .menu ul li a span{
    color: #bea44d;
    border-bottom: 2px solid #bea44d;
}
/* Header Css Ends */
/* Banner Css Starts */
.banner{
    position: relative;
}
.banner .image img{
    width: 100vw;
}
.banner .details{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .details p{
    font-size: 120px;
    color: white;
}
.banner .details p span{
    background: white;
    color: #bea44d;
}
.banner .logos .one{
    position: absolute;
    bottom: 10%;
    left: 11%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .logos .two{
    position: absolute;
    bottom: 10%;
    left: 22%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .logos .three{
    position: absolute;
    bottom: 10%;
    left: 33%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .logos .four{
    position: absolute;
    bottom: 8%;
    left: 44%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .logos{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.banner .dot .dot1{
    border: 8px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.banner .dot .dot2{
    border: 2px solid white;
    padding: 6px 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 52%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
}
.banner .dot .dot3{
    border: 2px solid white;
    padding: 6px 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 54%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Banner Css Ends */
/* Info Css Starts */
.info{
    display: flex;
}
.info .light, .settings, .cloud, .tag {
	width: 22%;
	margin: 30px auto;
	text-align: center;
}
.info .light h4, .settings h4, .cloud h4, .tag h4{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #bea44d;
}
.info .light p, .settings p, .cloud p, .tag p{
    color: #a3a7a9;
    font-size: 15px;
}
/* Info Css Ends */
/* Featured Css Starts */
.featured{
    text-align: center;
}
.featured h2{
    margin: 70px 0 20px 0;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #916c02;
}
.featured p{
    color: #8c9195;
    font-size: 20px;
    margin: 30px;
}
/* Featured Css Ends */
/*-- Slider Css Starts */
.slider{
    display: flex;
    margin: 50px 0;
}
.slider img {
	width: 400px;
	height: 400px;
}
.slider a{
    border: 2px solid #bea44d;
    border-radius: 5px;
    font-size: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
}
.slider .center{
    display: flex;
    margin: 0 auto;
    padding: 0;

}
.slider .right, .left {
	margin-top: 200px;
	width: 20%;
	color: #bea44d;
}
.slider .left{
    padding-left: 130px;
}
.slider .right a{
    background-color: #bea44d;
}
.slider .right{
    padding-left: 130px;
}
.fa-chevron-right{
    color: white;
}
.fa-chevron-left{
    color: #bea44d;
}
/*-- Slider Css Ends */
/* Latestpost Css Starts */
.latestpost{
    text-align: center;
}
.latestpost h2{
    margin: 70px 0 20px 0;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #916c02;
}
.latestpost p{
    color: #8c9195;
    font-size: 20px;
    margin: 30px;
}
/* Latestpost Css Ends */
/* Image Css Starts */
.image1 {
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.image1 img{
    width: 490px;
}
.image1 .left-img,.right-img{
    margin:0 50px;
}
.image1 .center-img{
    margin: 0 10px;
}
.image1 h4 {
    color: #bea44d;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.image1 h5{
    color: #b4bdc1;
    font-family: 'Lato', sans-serif;
}
.image1 p{
    color: #687074;
    font-family: 'Lato', sans-serif;
}
.image1 a{
    color: #916c02;
}
/* Image Css Ends */
/* Get in Touch Starts */
.getintouch{
    text-align: center;
    margin-top: 100px;
}
.getintouch h2{
    margin: 70px 0 20px 0;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #916c02;
}
.getintouch p{
    color: #687074;
    font-size: 20px;
    margin: 30px;
}
/* Get in Touch Ends */
/* Form Starts */
.form{
    display: flex;
    margin:100px 50px;
}
.form .input input,textarea{
    background-color: #fffaef;
}
.form .image{
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.17);
    margin:0 150px ;

}
.form .image img{
    width: 650px;
}
.form .input{
    text-align: center;
    width: 650px;
    background-color: white;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.17);
}
.form .input input{
    width: 650px;
    height: 40px;
    width: 90%;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form .input textarea{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form .input button {
	margin: 30px 0px 0px 440px;
	padding: 15px 25px;
	background-color: #bea44d;
	color: white;
    border: 1px solid #bea44d ;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-family: 'Lato', sans-serif;
}
/* Form Ends */

/* font-family: 'Lato', sans-serif; */